@use './tailwind.css';
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$orange-palette
      ),
      typography: mat.m2-define-typography-config()
    )
  );
}

body {
  background: #f3ede1;
  color: var(--mat-sys-on-surface);
}

app-root > mat-card {
  --mat-card-elevated-container-color: #f3ede1;
}

mat-card-header.header {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.header .mat-mdc-card-header-text {
  width: 100%;
}

app-back-button button[mat-icon-button] {
  --mat-icon-button-icon-color: var(--mat-sys-primary);
  --mat-icon-button-state-layer-color: var(--mat-sys-primary);
}
