<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  <input matInput [type]="hidden() ? 'password' : 'text'" [formControl]="control()" [attr.autocomplete]="autocomplete()" />
  @if (showToggle()) {
    <button
      mat-icon-button
      matSuffix
      type="button"
      [attr.aria-label]="hidden() ? 'Show password' : 'Hide password'"
      (click)="visibilityToggle.emit()">
      <i class="fa-solid" [class.fa-eye]="hidden()" [class.fa-eye-slash]="!hidden()"></i>
    </button>
  }
  @for (message of visibleErrors; track message) {
    <mat-error>{{ message }}</mat-error>
  }
</mat-form-field>
